*{
    transition: all 0.5s;
}
body{
    width: 100%;
    height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);	
    display: flex;
    justify-content: center;
    align-items: center;
}
#studentContainer,form{
    width: 55%;
    height: 90%;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
form{
    border: 1px solid black;
    /* background-color: rgba(222, 184, 135, 0.7); */
    box-shadow: 5px 5px 5px black;
}
label{
    font-size: 1.3vw;
}
#label{
    font-size: 2.5vw;
    text-shadow: 2px 2px 1px black;
}
input{
    width: 80%;
    padding-left: 1vw;
    height: 2.3vw;
    font-size: 1.3vw;
    border: 1px solid grey;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
}
input:hover{
    background-color: whitesmoke;
}
.divInput{
    width: 80%;
    padding-left: 5vw;
    /* background-color: bisque; */
    height: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.buttonInput{
    width: 60%;
    height: 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.submit{
    width: 6vw;
    height: 2.5vw;
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    
}
.submit:hover{
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}
